html {
    background-color: gainsboro;
    font-family: Arial, sans-serif;
}

#page-title {
    text-align: center;
}

.page-subtitle {
    text-align: center;
    color: rebeccapurple;
}

#custom-table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}

table, th {
    border: 1px solid transparent;
}

.head {
    background-color: plum;
}
 
td {
    border-top: 1px solid darkorchid;
}

.first {
    border-top: 1px solid darkorchid;
}

.tag {
    font-family: monospace;
    background-color: beige;
}

